<h3>{{question.content}}</h3>
<h4>{{question.author}}, {{question.date}}</h4>
<p>{{question.notes}}</p>
<br>
<h3>Answers</h3>
<ul>
  {{#each question.answers as |answer|}}
  <li>{{answer.content}}<br>By: {{answer.author}}<br>When: {{answer.date}}</li>
  {{/each}}
</ul>
